<div id="{{id}}-playlist-card" class="playlist-card">
  <div class="playlist-card-buffer"></div>
  <div class="playlist-card-content">
    <div class="playlist-card-title" title="{{title}}">{{title}}</div>
    <div class="playlist-card-icons">
      <div class="playlist-card-mode-icon">
        <i class="fas fa-compress-arrows-alt pm-inactive"></i>
        <i class="far fa-arrow-alt-circle-right pm-inactive"></i>
        <i class="fas fa-random pm-inactive"></i>
        <i class="fas fa-ban pm-inactive"></i>
      </div>
      <div>
        <i class="pm-icon fas fa-play" data-pm-id="{{id}}" data-icon="play"></i>
        <i class="pm-icon fas fa-stop" data-pm-id="{{id}}" data-icon="stop"></i>
      </div>
    </div>
  </div>
</div>